:root {
    --paradise: #ef476f;
    --crayola: #FFD166;
    --green: #06D6A0;
    --powder: #FFEABA;
}

body {
    background: var(--powder);
}

.container {
    display: flex;
    flex-direction: column;
    width: 360px;
}

.wrapper {
    display: flex;
}

.box {
    padding: 4rem;
    flex-grow: 1;
}

.red {
    background: var(--paradise);
}

.yellow {
    background: var(--crayola);
}

.green  {
    background: var(--green);
}